body{
	background-color: #fff;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.6em;
	margin:0;
}

video{
	width: 30%;
}

@keyframes navbar {
	from{height: 100%;}
	to{height: 100px;}
}

.navbar {
	animation-name: navbar;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
}

@keyframes textleft {
	from{left: 50%; top: 50%; transform: translate(-50%, -50%)}
	to{left: 10%; top: 25px; transform: translate(0, -50%)}
}

.textleft {
	animation-name: textleft;
	animation-duration: 2000ms;
}

@keyframes fadein {
	from{opacity: 0; left: 36%;}
	to{opacity: 1; left: 40%;}
}

.fadein {
	animation-name: fadein;
	animation-duration: 1000ms;
}

@keyframes fadein_ten {
	from{opacity: 0; right: 14%;}
	to{opacity: 1; right: 10%;}
}

.fadein_ten {
	animation-name: fadein_ten;
	animation-duration: 1000ms;
}

@keyframes fadeinwhite {
	from{background: white;}
	to{background: black;}
}

.fadeinwhite {
	animation-name: fadeinwhite;
	animation-duration: 1000ms;
}

.hover_link a{
	color: #cccccc;
	transition-duration: 500ms;
}

.hover_link a:hover{
	color: white;
	transition-duration: 500ms;	
}

#header {
	position: fixed;
	top: 0;
	bottom: 0;
  	margin: 0;
	width:100%;
	background-color: black;
	overflow: hidden;
	color: white;
	z-index: 20;
}

#header h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: textleft;
	animation-delay: 2000ms;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
}

#navagation{
	background-color: black;
 	overflow: hidden;
 	position: relative;
 	left: 40%;
 	height: 100px;
 	visibility: hidden;
}

#navagation ul{
	padding: 0;
	margin: 0;
	position: absolute;
	display: inline-flex;
	top: 50%;
	transform: translate(0,-50%);
	list-style: none;
	font-size: 16px;
	visibility: inherit;
}

#navagation li{
	background-color: black;
	float: right;
	visibility: inherit;
	padding: 10px;
	transition-duration: 500ms;
	transition-property: background;
}

#navagation a{
	color: #cccccc;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	visibility: inherit;
	transition: 500ms;
}

#navagation a:hover {
	color: white;
	transition: 500ms;
}

#drop_down{
	position: absolute;
	color: #cccccc;
	padding: none;
	margin: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	right: 10%;
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: black;
	display: none;
	visibility: hidden;
	transition-duration: 500ms;
}

#drop_down:active{
	border:none;
	outline:none;
	padding:none;
}

#drop_down:focus{
	outline: 0;
}

#drop_down:hover{
	color: white;
	transition-duration: 500ms;
}

#smallnavbar{
	background-color: black;
	margin-top: -20px;
	position: fixed;
	opacity: 0.8;
	width: 100%;
	color: #cccccc;
	list-style-type: none;
	display: none;
	visibility: hidden;
}

#smallnavbar ul{
	padding: 0;
	margin: 0;
	position: fixed;
	overflow: hidden;
	list-style: none;
	font-size: 16px;
	visibility: inherit;
}

#smallnavbar li{
	background-color: black;
	visibility: inherit;
	text-align: center;
	padding: 10px;
	color: #cccccc;
}

#smallnavbar li:hover{
	color: white;
}

#smallnavbar a{
	color: inherit;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	visibility: inherit;
}

#profile{
	margin-top: 120px;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#emailAddress{
	position: fixed;
	top: -30px;
}

#email{
	background-color: inherit;
	color: #cccccc;
	padding: none;
	margin: none;
	border: none;
	cursor: pointer;
	min-height: 32px;
	font-size: inherit;
	padding-left: 30px;
	padding-right: 30px;
	transition-duration: inherit;
}

#email:active{
	border:none;
	outline:none;
	padding:none;
}

#email:focus{
	outline: 0;
}

#email:hover{
	color: white;
	transition-duration: inherit;
}

.full_back{
	background-color: black;
	color: white;
	padding: 15px;
}

.experience{
	display: flex;
   	align-items: center;
   	justify-content: space-around;
   	padding: 20px;
   	transition-duration: 500ms;
}

.project{
	display: flex;
   	align-items: center;
   	justify-content: space-around;
   	background-color: black;
   	color: white;
   	padding: 20px;
   	transition-duration: 500ms;
}

.image_left_prof{
	float: left;
	width: 30%;
	transition: 500ms;
}

.text_right_prof{
	width: 60%;
	float: right;
	transition: 500ms;
}

.image_left{
	float: left;
	width: 30%;
	transition: 500ms;
}

.text_right{
	width: 60%;
	float: right;
	transition: 500ms;
}

.image_right{
	float: right;
	width: 30%;
	transition: 500ms;
}

.text_left{
	width: 60%;
	float: left;
	transition: 500ms;
}

.transition_helper{
	flex-direction: row-reverse;
}

.extra_padding{
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer{
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
	background-color: black;
	color: #cccccc;
	overflow: hidden;
}

@media screen and (max-width: 1435px){
	.image_left_prof{
		width: 50%;
		transition: 500ms;
	}
 
	.text_right_prof{
		width: 50%;
		transition: 500ms;
	}

	#drop_down{
		display: none;
	}
}

@media screen and (max-width: 1220px){
	.project{
		display: block;
	}

	.image_left{
		width: 100%;
		transition: 500ms;
	}

	.text_right{
		width: 100%;
		transition: 500ms;
	}
	.image_right{
		width: 100%;
		transition: 500ms;
	}

	.text_left{
		width: 100%;
		transition: 500ms;
	}

	.transition_help{
		flex-direction: row;
	}

	#drop_down{
		display: none;
	}

	video{
		width: 100%;
	}

	.experience{
		display: block;
	}
}

@media screen and (max-width: 1125px){
	.image_left_prof{
		width: 100%;
		transition: 500ms;
	}

	.text_right_prof{
		width: 100%;
		transition: 500ms;
	}

	#navagation{
		display: none;
	}

	#drop_down{
		display: block;
	}

	#smallnavbar{
		display: block;
	}
}
